@import 'partials/modules/variables';
@import 'partials/reset';

@import 'partials/modules/layout';

@import 'partials/modules/form-desc';
@import 'partials/modules/form-fields';

@import 'partials/modules/places';

@import 'partials/modules/home-hero';
@import 'partials/modules/detail';
@import 'partials/modules/rating';
@import 'partials/modules/spotResults';
@import 'partials/modules/spotSearch';
@import 'partials/modules/spotDetail';
@import 'partials/modules/albumDetail';
@import 'partials/modules/tracks';
