.home-hero__wrap {
    background: $tan-bg;
}

.home-hero {
    position: relative;
    padding: 30px;
    transition: all 500ms ease-in;
    transform: translateY(0);
    opacity: 1;
    
    &__title {
        font-size: 4.5rem;
        letter-spacing: -0.015em;
        color: $black;
         
    }

    &__subtitle {
        font-size: 2rem;
        font-weight: lighter;
    }

    &__button {
        border: 0;
        font-family: $font-serif;
        color: $white;
        background: $teal;
        appearance: none;
        -webkit-appearance: none;
        font-size: 1rem;
        padding: 10px 30px;
        border-radius: 20px;
        margin-top: 2rem;
        -webkit-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        cursor: pointer;

        &:hover {
            background: darken($teal, 20);
        }
    }

 &.page-appear {
  opacity: 0.01;
  transform: translateY(-200%);
}

&.page-appear.page-appear-active {
  opacity: 1;
  
}

&.page-leave {
  opacity: 1;
  transition: all 300ms ease-in;
  transform: translateY(0);
}

&.page-leave.page-leave-active {
  opacity: 0.01;
  transform: translateY(-200%);
}         
}



