.main-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.main-inner {
    display: flex;
    height: 100%;
    align-items: center;
}

.left-column,
.right-column {
   flex-basis: 50%;
   height: 100%;
}

.left-column--quarter  {
    flex-basis: 30%;
    height: 100%;
    overflow: scroll;
}

.right-column--three-quarter  {
     flex-basis: 70%;
     height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

#detail-map__map {
    height: 100%;
}

@-webkit-keyframes loading {
   0% { 
 
         opacity: 0.5;
         transform: scale(1);
    }
    
    25% {
        transform: scale(1.25);  
 
         opacity: 1;
    }

    75% {
        transform: scale(0.75);  
 
         opacity: 1;
    }

    100% { 
        transform: scale(1); 
 
         opacity: 0.5;
     }
}
@-moz-keyframes loading {
   0% { 
 
         opacity: 0.5;
         transform: scale(1);
    }
    
    25% {
        transform: scale(1.25);  
 
         opacity: 1;
    }

    75% {
        transform: scale(0.75);  
 
         opacity: 1;
    }

    100% { 
        transform: scale(1); 
 
         opacity: 0.5;
     }
}
@-ms-keyframes loading {
   0% { 
 
         opacity: 0.5;
         transform: scale(1);
    }
    
    25% {
        transform: scale(1.25);  
 
         opacity: 1;
    }

    75% {
        transform: scale(0.75);  
 
         opacity: 1;
    }

    100% { 
        transform: scale(1); 
 
         opacity: 0.5;
     }
}
@-o-keyframes loading {
   0% { 
         opacity: 0.5;
         transform: scale(1);
    }
    
    25% {
        transform: scale(1.25);  
 
         opacity: 1;
    }

    75% {
        transform: scale(0.75);  
 
         opacity: 1;
    }

    100% { 
        transform: scale(1); 
 
         opacity: 0.5;
     }
}
@keyframes  {
   0% { 
 
         opacity: 0.5;
         transform: scale(1);
    }

    50% {
        transform: scale(1.25);  
         opacity: 1;
    }

    100% { 
        transform: scale(1); 
 
         opacity: 0.5;
     }
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    svg {
        overflow: visible;
    }

    .circle {
        transform-origin: center center;
        -webkit-animation: loading 1s  infinite;
           -moz-animation: loading 1s  infinite;
            -ms-animation: loading 1s  infinite;
             -o-animation: loading 1s  infinite;
                animation: loading 1s  infinite;
            
             &:nth-child(2) {
                    -webkit-animation: loading 0.75s  infinite reverse;
           -moz-animation: loading 0.75s  infinite reverse;
            -ms-animation: loading 0.75s  infinite reverse;
             -o-animation: loading 0.75s  infinite reverse;
                animation: loading 0.75s  infinite reverse;
                }

                &:nth-child(3) {
                    -webkit-animation: loading 1s  infinite reverse;
           -moz-animation: loading 1s  infinite reverse;
            -ms-animation: loading 1s  infinite reverse;
             -o-animation: loading 1s  infinite reverse;
                animation: loading 1s  infinite reverse;
                }
    }

    &__label {
        font-family: $font-sans;
        color: $red;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        margin-top: 15px;
    }
}

.back__button {
    position: fixed;
    right: 0;
    bottom: 10%;
    z-index: 9999;
    padding: 10px;
    background: $teal;
    color: $white;
    font-family: $font-sans;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.8;
    transition: all 0.2s ease;
    text-decoration: none;

    &:hover {
        opacity: 1;
    }
}
