.place-wrap {
    height: 90%;
    overflow-y: scroll;
    background: $tan-bg;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    transform: translateX(0);
    display: block;
    width: 100%;

    &.appear {
      opacity: 0.01;
      transform: translateY(-100%);
    }

    &.leave {
      opacity: 1;
      transition: all 300ms ease-in;
      transform: translateX(0);
    }

    &.leave.leave-active {
      opacity: 0.01;
      transform: translateY(-100%);
    }

}

.place {
    display: block;
    position: static;
 
    &__header {
        position: relative;
        font-weight: bold;
        padding: 20px;
        background: $teal;
        color: $white;
        z-index: 2;

    

    }

    &__item {
        position: relative;
        z-index: 1;
        box-shadow: 1px 1px 10px 1px rgba($black, 0.5);
        
        margin-bottom: -20px;
        transform: translatez(0);
        border-radius: 3px;
        background: $white;
        display: block;
        transition: all 0.25s ease;
        

        &:hover {
            transition: all 0.25s ease;
            transition-delay: 0;
            transform: translatez(0) translateY(-20px);
        }

        &--final {            
            padding-bottom: 20px;
            
            &:hover {
                transform: translatez(0) translateY(0);
                
            }
        }

        &.appear {
         transition: all 1s ease;
          transform: translateY(-99em);
          
        
        $delay: 100;
        @for $i from 1 through 20 {
            $delay: $delay + 30;
          
            &.place__item:nth-child(#{$i}) {
                -webkit-transition-duration: #{$delay}ms;
                -o-transition-duration: #{$delay}ms;
                transition-duration: #{$delay}ms;
            }
         
        }

        }

        &.appear.appear-active {
            transition: all 1s ease;
          transform: translateY(0);
        }

        &.leave {
            opacity: 1;
             transition: all 1s ease;
          transform: translateY(0);
        }

        &.leave.leave-active {
             transition: all 1s ease;
            transform: translateY(-99em);
            $delay: 100;
        @for $i from 20 through 1 {
            $delay: $delay + 30;
          
            &.place__item:nth-child(#{$i}) {
                -webkit-transition-duration: #{$delay}ms;
                -o-transition-duration: #{$delay}ms;
                transition-duration: #{$delay}ms;

                 
            }
         
        }
        }

    }

    &__link {
        display: block;
        padding: 20px 15px 40px;
        text-decoration: none;
    }
    
    &__main-info {
        display: flex;
        align-items: center;
    }

     &__address {
        font-size: .8rem;
        color: $black;

    }

    &__button {
        text-decoration: none;

    }
    

    &__title {
        font-family: $font-sans;
        color: $black;
    }
    
    &__figure {
        width: 40px;
    }

    &__icon {
        width: 30px;
    }

    &__result,
    &__error {
        height: 8%;
        padding: 15px;
        background: $red;
        color: $white;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: bold;
        font-size: .8rem;
        position: relative;
        z-index: 1;
    }
      
}




