.artist-detail {
}


.artist-info {
    background: $black;
    position: relative;

    &__image-wrap {
        position: relative;
        height: 95vh;
        overflow: hidden;
    }

    &__image {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__content { 
        position: absolute;
        bottom: 10%;
        left: 0;
        background: rgba($black, 0.36);
        padding: 2rem;
    }

    &__title {
        font-size: 3.5rem;
        color: $white;
        letter-spacing: -0.025em;
    }

    &__followers {
        font-family: $font-sans;
        color: $white;
    }
} 

.artist-info-genres {

    &__item {
        display: inline-block;
        font-family: $font-sans;
        color: $white;
        text-transform: uppercase;
        font-size: 12px;

        & + & {
            margin-left: 5px;
        }
    }
}


.albums-detail {
    width: 100%;
    margin: 0 auto;
    padding: 3em 0;
    text-align: center;
    max-width: 900px;

    &__title {
        font-size: 2.5em;
        margin-bottom: 0.5em;
        letter-spacing: -0.025em;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: 50%;
        text-align: center;
        padding: 15px;
    }

    &__link {
        display: block;
        text-decoration: none;
    }

    &__img {
        display: block;
        width: 100%;
    }
    &__name {
        font-size: 14px;
        padding: 20px;
        text-decoration: none;
        font-family: $font-sans;
        color: $black;
    }
}

.related-artists {
    background: $black;
    color: $white;

    &__content {
        width: 100%;
        margin: 0 auto;
        padding: 3em 0;
        text-align: center;
        max-width: 900px;
    }

    &__heading {
        font-size: 2.5em;
        margin-bottom: 0.5em;
        letter-spacing: -0.025em;
    }

}

.related {
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex-basis: 33%;
        padding: 10px;
        text-align: left;
    }

    &__link {
        text-decoration: none;
        color: $white;
        font-family: $font-sans;
        transition: all 0.25s ease;
        font-size: 14px;
        text-transform: uppercase;
        text-align: left;

        &:hover {
            color: $teal;
        }
    }

    &__img-wrap {
        position: relative;
        padding-top: 62.5%;
        overflow: hidden;
        margin-bottom: 10px;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}

