.arist-list {
    display: flex;
    height: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: flex-start;
    align-content: flex-start;
}

.artist {
    flex-basis: 50%;
    padding: 10px;
    transform: translatez(0);
    transition: all 0.25s ease;
    
     &.appear {
         transition: all 1s ease;
        transform: translateY(99em);
          
             $delay: 100;
        @for $i from 20 through 1 {
            $delay: $delay + 30;
          
            &:nth-child(#{$i}) {
                -webkit-transition-duration: #{$delay}ms;
                -o-transition-duration: #{$delay}ms;
                transition-duration: #{$delay}ms;

                 
            }
         
        }

        }

        &.appear.appear-active {
            transition: all 1s ease;
          transform: translateY(0);
          $delay: 100;
        @for $i from 1 through 100 {
            $delay: $delay + 50;
          
            &:nth-child(#{$i}) {
                -webkit-transition-duration: #{$delay}ms;
                -o-transition-duration: #{$delay}ms;
                transition-duration: #{$delay}ms;
            }
         
        }
        }

        &.leave {
            opacity: 1;
             transition: all 0.5s ease;
          transform: translateY(0);

               $delay: 100;
        @for $i from 20 through 1 {
            $delay: $delay + 30;
          
            &:nth-child(#{$i}) {
                -webkit-transition-duration: #{$delay}ms;
                -o-transition-duration: #{$delay}ms;
                transition-duration: #{$delay}ms;

                 
            }
         
        }

        }

        &.leave.leave-active {
             transition: all 0.5s ease;
            transform: translateY(99em);
            $delay: 100;
        @for $i from 20 through 1 {
            $delay: $delay + 30;
          
            &:nth-child(#{$i}) {
                -webkit-transition-duration: #{$delay}ms;
                -o-transition-duration: #{$delay}ms;
                transition-duration: #{$delay}ms;

                 
            }
         
        }
        }


 
    &__link {
        display: block;
        position: relative;
        background: $black;
        overflow: hidden;
        text-decoration: none;
        transform: translateZ(0);
        transition: all 0.25s ease;
        
        &:hover {
        }
 
    }

    &__img-wrap {
        position: relative;
        padding-top: 62.5%;
        overflow: hidden;
        width: 100%;
        
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    &__info {
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 20%;
   background: -moz-linear-gradient(top,  rgba(39,39,39,0) 0%, rgba(39,39,39,0.65) 100%);
background: -webkit-linear-gradient(top,  rgba(39,39,39,0) 0%,rgba(39,39,39,0.65) 100%);
background: linear-gradient(to bottom,  rgba(39,39,39,0) 0%,rgba(39,39,39,0.65) 100%);
    transition: all 0.15s linear;
    transform: translateY(100%);

    .artist__link:hover & {
        transform: translateY(0%);
    }
         
    }

    &__name {
        position: relative;
        font-family: $font-sans;
        color: $white;
        font-size: 14px;

        transform: translateY(25px);
        transition: all 0.15s linear;
        transition-delay: 0.1s;
        
        .artist__link:hover & {
            transform: translateY(0%);
        }
    }
}

.artist-genres {
        transform: translateY(25px);
        transition: all 0.15s linear;
        transition-delay: 0.12s;
        
        .artist__link:hover & {
            transform: translateY(0%);
        }

    &__item {
        display: inline-block;
        font-size: 10px;
        font-family: $font-sans;
        color: lighten( $white, 25 );
        
        & + & {
            margin-left: 5px;
        }
    }
}







