
@keyframes showIn{
  0% {
    opacity:0;
    transform:  translate(0px,39px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes showIn{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,39px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes showIn {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,39px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes showIn {
  0% {
    opacity:0;
    -o-transform:  translate(0px,39px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes showIn {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,39px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}

@keyframes showDown{
  0% {
    opacity:0;
    transform:  translate(0px,-39px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes showDown{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-39px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes showDown {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-39px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes showDown {
  0% {
    opacity:0;
    -o-transform:  translate(0px,-39px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes showDown {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,-39px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}

.form-main-container {
    width: 100%;
    height: 100%;
    padding: 20px 15%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background: #efefef;
    font-family: $font-sans2;
}

.form-wrapper {
    flex-basis: 50%;
    padding: 7%;
    transition: all 0.35s ease-in-out;
    animation: showIn ease-in-out .35s;
    
    &__inner {
        overflow: hidden;
    }
    .form-title {
        font-size: 28px;
        padding: 15px;
        color: $blue-bg-light;
        font-family: $font-sans2;
        font-weight: 100;
        letter-spacing: 0.05em;
    }
}

.field-wrap {
    label {
        position: absolute;
        left: -9999em;
    }
}

.field-list {
    padding: 10px;
}

.field-wrap {
    text-align: center;
   
    & + & {
        margin-top: 15px;
    }
    
    ::-webkit-input-placeholder {
       color: lighten($black, 10);
    }

    :-moz-placeholder { /* Firefox 18- */
       color: lighten($black, 10);  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: lighten($black, 10);  
    }

    :-ms-input-placeholder {  
       color: lighten($black, 10);  
    }

    input,
    textarea {
        font-family: $font-sans2;
        font-weight: 300;
        appearance: none;
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border: 0;
        border-bottom: 1px solid lighten( $blue-bg-light, 50);
        outline-width: 0;
        transition: all 0.3s ease;
        background-color: transparent;

        &:focus {
            border-bottom-color: $blue-bg-light;
            font-size: 19px;

        }
    }

    textarea {
        width: 100%;
        min-height: 150px;
        resize: vertical;
    }

    .submit-fields {
        appearance: none;
        border: 0;
        background: lighten($blue-bg-light, 10);
        color: $white;
        cursor: pointer;
        padding: 10px 40px;
        border-radius: 15px;
        transition: all 0.25s ease;
        font-size: 12px;
        font-family: $font-sans2;
        font-weight: lighter;
        line-height: 1;
        margin: 10px 0;
        letter-spacing: 0.05em;


        &:hover {
            background: $blue-bg-light;

        }
    }
}


.list-items {
    flex-basis: 50%;
    padding: 7% 3%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    animation: showIn ease-in-out .35s;
    
    &__inner {
        border-top: 10px solid $red;
 
    }

    &__header {
        font-size: 24px;
        padding: 15px;
        color: $white;
        font-family: $font-sans2;
        font-weight: 100;
        background: $red;
        letter-spacing: 0.05em;
    }
    
    &__list {
    }

    &__item {
        position: relative;
        display: flex;
        padding: 15px;
        animation: showIn ease-in-out .35s;
        background: $white;
        box-shadow: 0 10px 20px -5px rgba($black, 0.7);

        & + & {
            border-top: 1px solid lighten( $black, 60);
        }

        h3 {
            font-size: 28px;
            font-weight: 100;
            color: lighten($black, 10);
            line-height: 1;
            margin-bottom: 5px;
        }

        p {
            font-weight: 300;
            font-size: 14px;
            color: lighten($black, 30);

        }
    }

    &__content {
        flex: 4;
    }
}

.clear-all {
    text-align: right;
     border-top: 1px solid lighten( $black, 70);

    &__button {
        appearance: none;
        border: 0;
        background: transparent;
        padding: 10px;
        font-weight: 600;
        color: #888888;
        
        cursor: pointer;

        svg {
            display: inline-block;
            width: 12px;
            height: 12px;
            vertical-align: middle;
            margin-right: 5px;
            fill: #888888;
        }

        &:hover {
            color: $red;

            svg {
                fill: $red;
            }
        }
    }
    
}

.remove-item {

    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    span { 
        position: absolute;
        left: -9999em;
    }

    svg {
        fill: #7e7e7e;
        height: 20px;
        width: 20px;
        transition: all 0.25s ease;
    }

    &:hover svg {
        fill: $red;
    }

}

.show-more-item {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-left: 5px;

    span { 
        position: absolute;
        left: -9999em;
    }

    svg {
        fill: #7e7e7e;
        height: 20px;
        width: 20px;
        transition: all 0.25s ease;
    }

    &:hover svg {
        fill: $green;
    }
}

.single-item {
    flex-basis: 50%;
    padding: 3%;
    align-self: center;
    background: $white;
    box-shadow: 0 10px 20px -7px rgba($black, 0.7);
    animation: showIn ease-in-out .35s;
    border-top: 10px solid $green;

    &__first {
        font-size: 55px;
        display: block;
        line-height: 1;
        font-weight: 100;
        text-transform: capitalize;
    }

    &__last {
        font-size: 30px;
        display: block;
        line-height: 1;
        font-weight: 100;
        text-transform: capitalize;
    }

    &__label {
        display: block;
        font-weight: 400;
        font-size: 12px;
    }

    &__list {
        li {
            padding: 10px 0;
        }

        li + li {
            border-top: 1px solid darken( #efefef, 10);
        }
    }

    &__remove-item {
        appearance: none;
        background-color: lighten($red, 10);
        border: 0;
        cursor: pointer;
        margin-left: 5px;
        color: $white;
        transition: all 0.25s ease-in-out;
        padding: 10px 25px;
        font-family: $font-sans2;
        font-weight: 300;
        font-size: 13px;
        border-radius: 10px;
        margin-left: 15px;
        
        &:hover  {
             background-color: $red;
        }
    }

    &__show-list {
        appearance: none;
        background-color: lighten($blue-bg-light, 10);
        border: 0;
        cursor: pointer;
        margin-left: 5px;
        color: $white;
        transition: all 0.25s ease-in-out;
        padding: 10px 25px;
        font-family: $font-sans2;
        font-weight: 300;
        font-size: 13px;
        border-radius: 10px;
        
        &:hover  {
             background-color: $blue-bg-light;
        }
    }

    .single-field-wrap {
        label {
            display: block;
            font-weight: 100;
            font-size: 12px;
            margin-top: 7px;
        }

        input,
        textarea {
            font-family: $font-sans2;
            font-weight: 300;
            appearance: none;
            width: 100%;
            font-size: 16px;
            padding: 10px;
            border: 0;
            border-bottom: 1px solid lighten( $blue-bg-light, 50);
            outline-width: 0;
            transition: all 0.3s ease;
            background-color: transparent;

            &:focus {
                border-bottom-color: $blue-bg-light;
                font-size: 19px;

            }
        }

        textarea {
            width: 100%;
            min-height: 150px;
            resize: vertical;
        }

    }
}
.options-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    &__button {
        appearance: none;
        display: inline-block;
        background-color: transparent;
        vertical-align: middle;
        border: 0;
        padding: 10px 20px 10px 10px;
        margin: 0 10px;
        font-size: 14px;
        font-weight: 300;
        font-family: $font-sans2;
        cursor: pointer;
        background: $red;
        color: $white;
        line-height: 1;
        text-transform: uppercase;
        animation: showDown ease-in-out .35s;

        transition: all 0.15s ease-in-out;


        svg {
            display: inline-block;
            width: 20px;
            height: 20px;
            fill: $white;
            vertical-align: middle;
            margin-right: 7px;
            margin-top: -3px;
        }

        &:hover {
            background: darken($red, 10);
        }
    }
}

button.show-fields {
    position: absolute;
    background: $red;
    font-size: 18px;
    border: 0;
    padding: 10px 30px;
    bottom: 3%;
    left: 50%;
    color: $white;
    transform: translateX(-50%);
    animation: showIn ease-in-out .35s;
}