 .track-wrap {
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
    max-width: 900px;
 }

 .track-list {
    
    &__title {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 0.5em;
        letter-spacing: -0.025em;
    }
}

.track-item {
    position: relative;
    padding: 30px 0;

    & + & {
        border-top: 2px solid lighten($black, 50);
    }
    
    &__number {
        font-style: italic;
        color: $red;
        font-size: 75%;
        font-weight: bold;
        display: inline-block;
        vertical-align: super;
        margin-right: 10px;
    }

    &__content {
     
    }

    &__preview {
        text-align: center;
    }

    &__name {
        font-size: 2.75em;
        text-align: center;
        line-height: 1.25;
        margin: 0 0 30px;
    }
}

.track-info {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        flex-basis: 33.333%;
        text-align: center;
        padding: 30px;
    }

    &__label {
        text-transform: uppercase;
        font-family: $font-sans;
        color: $black;
    }
    

    &__value {
        font-size: 3em;
        letter-spacing: -0.05em;
    }

    &__measure {
        font-size: 50%;
    }


}