// Colors
$white : #ffffff;
$black: #2f353c;

$blue-bg : #35424d;
$blue-bg-light : #164F80;
$tan-bg: #eee8db;
$tan-dark: #dedad0;

$teal: #66c5c6;
$red : #CE4F4F;
$green: #1B8C8E;

// Fonts
$font-sans:  'Montserrat', Helvetica, sans-serif;
$font-sans2: 'Didact Gothic',Helvetica, sans-serif;
$font-serif: 'Libre Baskerville', 'Times New Roman', serif;
